<div class="card-container dark-theme">
  <mat-card class="container-title">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title"
          >Prévia visualização de midia</mat-card-title
        >
        <mat-card-subtitle class="card-subtitle"
          >Insira arquivo de video ou imagem
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card-content">
      <input
        type="file"
        (change)="onSelectFile($event)"
        #fileInput
        style="display: none"
      />
      <button
        class="dark-button"
        mat-stroked-button
        color="accent"
        (click)="fileInput.click()"
      >
        Selecionar Arquivo
      </button>
      <p>
        Arquivo selecionado:
        <span class="fw-600">{{ selectedFile?.name }}</span>
      </p>
      <div *ngIf="valid">
        <img
          class="br-5"
          [src]="url"
          *ngIf="format === 'image' && url"
          height="{{ height }}"
        />
        <br />
        <video
          class="br-5"
          [src]="url"
          *ngIf="format === 'video' && url"
          height="{{ height }}"
          controls
        ></video>
        <iframe
          *ngIf="format === 'pdf' && src"
          [src]="url"
          width="100%"
          height="600"
        ></iframe>

        <div *ngIf="format === 'pdf'">
          <object [data]="selectedFile" type="application/pdf">
            <embed [src]="selectedFile" type="application/pdf" />
          </object>
          <pdf-viewer
            [src]=""
            [render-text]="true"
            style="display: block"
          ></pdf-viewer>
        </div>
      </div>
      <div *ngIf="!valid">
        <p class="invalid-file-message">
          Não foi possivel a visualização do arquivo, por favor, verifique o
          arquivo e tente novamente!
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
